/**
 *   Here's where everything gets included. You don't need
 *   to change anything here, and doing so might break
 *   stuff. Here be dragons and all that.
 */
/**
 *   Default variables
 *
 *   While these can be set with JavaScript, it's probably
 *   better and faster to just set them here, compile to
 *   CSS and include that instead to use some of that
 *   hardware-accelerated goodness.
 */
.unslider-nav ol {
  list-style: none;
  text-align: center;
  z-index: 9;
  width: 100vw;
  position: absolute;
  bottom: 1.5rem;
}
@media (max-width: 991px){
  .unslider-nav ol 
  {
    bottom: 5.15rem;
  }
}
.unslider-nav ol li {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 0 10px;
  background: #BC0033;
  border-radius: 32px;
  overflow: hidden;
  text-indent: -999em;
  border: 2px solid #fff;
  cursor: pointer;
  box-shadow: 0px 0px 0px 6px rgba(188,0,51,1);
}
.unslider-nav ol li.unslider-active {
  background: #fff;
  border: 2px solid #BC0033;
  box-shadow: 0px 0px 0px 6px rgba(255,255,255,1);
  cursor: default;
}
