/*FIX VIEWPORT*/
@viewport
{ 
  zoom: 1.0; 
  width: extend-to-zoom;
}
@-ms-viewport
{ 
  width: extend-to-zoom; zoom: 1.0;
}

// FONTS
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i,900');

// GENERAL BREAKPOINTS
$xxs: "(max-width: 340px)";
$xs: "(max-width: 767px)";
$sm: "(max-width: 991px)";
$md: "(max-width: 1199px)";
$lg: "(min-width: 1200px)";

// CUSTOM BREAKPOINTS
$xxs_absolute: "(min-width: 0px) and (max-width: 339px)";
$xs_absolute: "(min-width: 340px) and (max-width: 767px)";
$sm_absolute: "(min-width: 768px) and (max-width: 991px)";
$md_absolute: "(min-width: 992px) and (max-width: 1199px)";
$lg_absolute: "(min-width: 1200px)";

// COLORES
$white: #ffffff;
$soft_black: #383838;
$black: #000000;
$gray: #F4F4F4;
$dark_purple: #302A3A;
$purple: #483078;
$violet: #604878;
$red: #BC0033;

// AUX MIXINGS
@mixin zero 
{
  padding: 0;
  margin: 0;
}
@mixin animate
{
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
}
@mixin flex
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* SCROLLBARS */
::-webkit-scrollbar 
{
  width: 5px;
  @include animate;
}

::-webkit-scrollbar-track 
{
  background: $white;
  @include animate;
}

.scrollable-content::-webkit-scrollbar * 
{
  background: $white;
}

::-webkit-scrollbar-thumb 
{
  background: $black;
  @include animate;
}
 
/* CUSTOM RESETS AND OTHER PROPERITIES */ 
html, body
{
  font-size: 20px; /* REM */
  font-family: 'Titillium Web', 'Arial', sans-serif;
  min-height: 100vh;
  @include zero;
  width: 100%;
  overflow-x: hidden;
}

button, input, select, textarea, label, option, figure, ul, li, p, h1, h2, h3, h4, h5, h6, span, a
{ 
  box-shadow: none;
  outline: none;
  border-radius: 0;
  border: none;
  @include zero;
  text: 
  {
    decoration: inherit;
    decoration: none;
    shadow: none;
    indent: none;
  }
  font:
  {
    family: inherit;
    size: inherit;
  }
  color: inherit;
  list-style-type: none;
  &:hover, &:active, &:visited, &:focus
  {
    outline: none;
    border: none;
    box-shadow: none;
    border-box: none;
  }
}

/* AVOID MARGINS ON BOOTSTRAP */
.no_margin > [class*='col-'] 
{
  padding-right: 0;
  padding-left: 0;
}

/* GENERAL STYLES */
.cg-navbar_main
{
  background-color: $black;
  display: block;
  width: 100vw;
  height: 3.5rem;
  left: 0;
  z-index: 10;
  vertical-align: middle;
  @include animate;
}

// ORIGINAL STYLES NAV
.cg-navbar_main_top
{
  top: 0;
  position: fixed;
}
.cg-navbar_main_bottom
{
  bottom: 0;
  position: absolute;
  background-color: rgba($purple, 0.5);
}

.flex 
{
  @include flex;
  width: 100vw;
  height: 3.5rem;
  justify-content: space-between;
  padding: 0rem 1rem 0rem 1rem;
  @media #{$sm}
  {
    padding: 0rem 0rem 0rem 0rem;
  }
}

/* MAIN MENU NAVBAR*/
.cg-menu_ul
{
  vertical-align: middle;
  width: auto;
  height: 2.4rem;
  @include flex;
  @media #{$sm}
  {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: -100vw;
    top: 0rem;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba($black, 0.85);
    z-index: 11;
  }
  .cg-main_li
  {
    display: inline-block;
    color: $white;
    font:
    {
      size: 0.9rem;
      weight: 400;
    }
    text:
    {
      align: center;
    }
    margin-right: 1.5rem;
    cursor: pointer;
    height: 2.4rem;
    line-height: 2.4rem;
    position: relative;
    i 
    {
      padding-left: 0.25rem;
    }
    > a 
    {
      height: 2.4rem;  
      line-height: 2.4rem;
      display: inline-block;
    }
    &:hover 
    {
      a 
      {
        text-decoration: underline;
      }
    }
    @media #{$sm}
    {
      display: block;
      width: 100%;
      margin-right: 0rem;
      height: 3.5rem;
      line-height: 3.5rem;
      border-bottom: 1px solid rgba($white, 0.15);
      a 
      {
        width: 100vw;
      }
    }
  }
  .cg-main_li_active
  {
    a 
    {
      text-decoration: underline;
    }
  }
  .cg-menu_ul_close
  {
    font-size: 1.05rem;
    text-align: right;
    padding-right: 1rem;
    i 
    {
      display: inline-block;
      cursor: pointer;
      width: 2.4rem;
      height: 2.4rem;
      line-height: 2.4rem;
      text-align: center;
    }
  }
}

/* LOGO */

.cg-logo_tbk 
{
  width: 10rem;
  height: auto;
  position: relative;
  text-align: center;
  img 
  {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
  }
  @media #{$sm}
  {
    margin-left: 1rem;
  }
}


.cg-button_a, .cg-button_b
{
  text-align: center;
  height: 2.4rem;
  width: auto;
  position: relative;
  cursor: pointer;
  border-radius: 0.25rem;
  @include animate;
  @include flex;
  figure
  {
    display: inline-block;
    position: relative;
    color: $white;
    background-color: $purple;
    width: 2.4rem;
    height: 2.4rem;
    text-align: center;
    line-height: 2.4rem;
    border-radius: 0.25rem 0rem 0rem 0.25rem;
    > i
    {
      font-size: 1.05rem;
    }
    .chevron_right
    {
      width: 0; 
      height: 0; 
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 5px solid $purple;
      position: absolute;
      top: 18px;
      right: -5px;
    }
  }
  span
  {
    width: auto;
    min-width: 2.4rem;
    height: 2.4rem;
    background-color: $white;
    color: $purple;
    display: inline-block;
    padding: 0rem 0.5rem 0rem 0.5rem;
    border-radius: 0rem 0.25rem 0.25rem 0rem;
    line-height: 2.4rem;
    font: 
    {
      size: 0.75rem;
      weight: 600;
    }
    text:
    {
      align: center;
      transform: uppercase;
    }
    > i
    {
      font-size: 1.05rem;
      line-height: 2.4rem;
    }
  }
  &:hover
  {
    figure 
    {
      background-color: $white;
      color: $purple;
    }
    span 
    {
      background-color: $purple;
      color: $white;
    }
  }
  @media #{$sm}
  {
    margin-top: 1rem;
  }
}

/* LOGIN */ 
.cg-log_off
{
  display: none;
}

/* TRIGGER MOBILE */

.cg-nav_mobile
{
  background-color: $purple;
  border-radius: 0.25rem;
  height: 2.4rem;
  width: 2.4rem;
  vertical-align: middle;
  text-align: center;
  font-size: 1.05rem;
  color: $white;
  border: 2px solid transparent;
  cursor: pointer;
  position: fixed;
  right: 1rem;
  z-index: 10;
  &:hover 
  {
    border: 2px solid $white;
  }
}

.cg-nav_mobile_bottom
{
  bottom: 0.55rem;
  position: absolute;
}

.cg-nav_mobile_top
{
  top: 0.55rem;
  position: fixed;
}

.cg-menu_tool
{
  position: absolute;
  left: 0rem;
  display: block;
  border: 1px solid $gray;
  width: 100%;
  background-color: $white;
  z-index: 11;
  overflow: hidden;
  border-radius: 0.25rem;
  color: $black;
  display: none!important;
  @media #{$sm}
  {
    width: 60vw;
    left: 20vw;
  }
  &:hover
  {
    border: 1px solid $gray;
  }
  .cg-span_tool
  {
    display: block;
    color: darken($gray, 30%);
    text-align: left;
    height: 2rem;
    line-height: 2rem;
    padding: 0rem 0rem 0rem 0.5rem;
    font:
    {
      size: 0.75rem;
      weight: 600;
    }
    border-top: 1px solid $gray;
    &:first-of-type 
    {
      border-top: none;
    }
  }
  .cg-tool_li 
  {
    display: block;
    color: $black;
    text:
    { 
      align: left;
      decoration: none!important;
    }
    height: 2rem;
    line-height: 2rem;
    padding: 0rem 0.5rem 0rem 1rem;
    font:
    {
      size: 0.75rem;
      weight: 300;
    }
    cursor: pointer;
    &:hover
    {
      background-color: $gray;
    }
  }
}

.cg-menu_tool_top
{
  top: 2.25rem;
}

.cg-menu_tool_bottom
{
  bottom: 2.25rem;
  @media #{$sm}
  {
    bottom: inherit;
    top: 2.25rem;
  }
}

.cg-display
{
  display: block!important;
}

/* NAVBAR ASIDE */
.cg-wrapper_nav_aside
{
  width: 3rem;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  z-index: 9;
  right: 0;
  top: 0vh;
  @include flex;
  @media #{$sm}
  {
    width: 2rem;
    align-items: flex-start;
    padding-top: 3.7rem;
  }
}

.cg-nav_aside
{
  width: 3rem;
  height: 12rem;
  @include flex;
  flex-direction: column;
  border-radius: 0.25rem 0rem 0rem 0.25rem;
  background-color: rgba($black, 0.5);
  @media #{$sm}
  {
    width: 2rem;
    height: 8rem;
  }
  .cg_nav_aside_li
  {
    width: 3rem;
    height: 3rem;
    border-bottom: 1px solid rgba($gray, 0.25);
    cursor: pointer;
    color: rgba($white, 0.5);
    text-align: center;
    @include animate;
    @media #{$sm}
    {
      width: 2rem;
      height: 2rem;
    }
    &:last-of-type
    {
      border-bottom: 1px solid transparent;
    }
    &:hover
    {
      color: $white;
    }
    a
    {
      display: block;
      width: 3rem;
      height: 3rem;
      text-align: center;
      line-height: 3rem;
      vertical-align: middle;
      font-size: 1.5rem;
      @media #{$sm}
      {
        width: 2rem;
        height: 2rem;
        line-height: 2rem;
        font-size: 1.25rem;
      }
    }
  }
}

.cg-bg_popup
{
  display: none;
  position: fixed;
  top: 0; 
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($black, 0.8);
  z-index: 12;
}

.cg-wrapper_popup
{
  @include flex;
  position: fixed;
  z-index: 13;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
  display: none;
}

#cg-popup
{
  width: 50vw;
  height: 75vh;
  overflow-x: hidden;
  background-color: $white;
  border-radius: 0.25rem;
  position: relative;
  @media #{$sm}
  {
    width: 85vw;
    height: 85vh;
  }
}

.cg-flex_pop
{
  width: 50vw;
  height: 75vh;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  left: 0;
  padding: 3.4rem 0rem 0rem 0rem;
  background-color: $white;
  border-radius: 0.25rem;
  overflow-y: scroll;
  z-index: 14;
  @include flex;
  align-items: flex-start;
  @media #{$sm}
  {
    width: 85vw;
    height: 85vh;
  }
  /* SCROLLBARS */
  &::-webkit-scrollbar 
  {
    width: 5px;
    @include animate;
  }
  &::-webkit-scrollbar-track 
  {
    background: transparent;
    @include animate;
  }
  .scrollable-contents-webkit-scrollbar * 
  {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb 
  {
    background: transparent;
    @include animate;
  }
}

.cg-nav_pop
{
  display: block; 
  position: absolute;
  z-index: 15;
  top: 0;
  left: 0;
  background-color: $black;
  color: $white;
  text-align: center;
  height: 2.4rem;
  width: 50vw;
  line-height: 2.4rem;
  position: relative;
  border-radius: 0.25rem 0.25rem 0rem 0rem;
  @media #{$sm}
  {
    width: 85vw;
  }
  > i 
  {
    width: 2.4rem;
    height: 2.4rem;
    line-height: 2.4rem;
    text-align: center;
    cursor: pointer;
    font:
    {
      size: 0.75rem;
      weight: 300;
    }
    position: absolute;
    right: 0;
    top: 0;
  }
}

.cg-form_pop
{
  text-align: center;
  position: relative;
  width: 100%;
  input 
  {
    display: block;
    margin: 0 auto;
    position: relative;
    height: 2.4rem;
    width: 10rem;
    background-color: $white;
    border-radius: 0.25rem;
    border: 1px solid $gray;
    padding: 0rem 0.5rem 0rem 2rem;
    line-height: 2.4rem;
    margin-bottom: 0.25rem;
    font:
    {
      size: 0.75rem;
      weight: 300;
    }
    background:
    {
      size: 0.75rem auto;
      position: 0.75rem;
      repeat: no-repeat;
    }
    @include animate;
    &:focus
    {
      border: 1px solid $red;
    }
  }
}

.cg-user
{
  background: url(../img/icons/user.svg);
}

.cg-pass
{
  background: url(../img/icons/pass.svg);
}

.cg-email
{
  background: url(../img/icons/mail.svg);
}

.cg-forget, .cg-human
{
  line-height: 2.4rem;
  font:
  {
    size: 0.7rem;
    weight: 400;
  }
  text:
  {
    align: center;
    transform: uppercase;
    decoration: underline;
  }
  cursor: pointer;
  i 
  {
    margin-right: 0.25rem;
  }
  @include animate;
  &:hover 
  {
    color: $red;
  }
  @media #{$sm}
  {
    padding: 0rem 1rem 0rem 1rem;
  }
}

.cg-human
{
  text-decoration: none;
  &:hover 
  {
    color: $black;
  }
}

.cg-wrap_btns
{
  width: 100%;
  height: auto;
  @include flex;
  background-color: $gray;
  padding-bottom: 1rem;
  padding-top: 1rem;
  margin-top: 1rem;
  @media #{$sm}
  {
    flex-direction: column;
  }
}

.cg-wrapper_btn_form
{
  display: block;
  vertical-align: middle;
  text-align: center;
  @media #{$sm}
  {
    margin-bottom: 0.5rem;
  }
  .cg-normal 
  {
    display: inline;
    text-align: center;
    font:
    {
      size: 0.7rem;
      weight: 400;
    }
    color: $black;
    line-height: 0.7rem;
    position: relative;
    margin: 0 auto;
  }
  @include flex;
  input[type='checkbox']
  {
    display: inline;
    margin-right: 0.25rem;
    width: 0.7rem;
    height: 0.7rem;
    text-align: center;
  }
  a.cg-button_b
  {
    margin: 0 auto;
    position: relative;
  }
}

.cg-first_btn
{
  margin-right: 0.5rem!important;
  @media #{$sm}
  {
    margin-right: 0rem;
  }
  figure 
  {
    background-color: $red;
    .chevron_right
    {
      border-left: 5px solid $red;
    }
  }
  span
  {
    color: $red;
  }
  &:hover
  {
    figure 
    {
      color: $red;
    }
    span 
    {
      background-color: $red;
    }
  }
}


.cg-section_form
{
  display: block;
  width: 100%;
  height: auto;
  .cg-ul_section_form
  {
    border-bottom: 1px solid $gray;
    margin-bottom: 1rem;
    @include flex;
    .cg-li_section_form
    {
      display: inline-block;
      font:
      {
        size: 0.7rem;
        weight: 300;
      }
      padding: 0rem 1rem 0rem 1rem;
      cursor: pointer;
      color: $gray;
      line-height: 2.4rem;
      text:
      {
        align: center;
      }
      vertical-align: middle;
      i 
      {
        margin-right: 0.25rem;
        line-height: 2.4rem;
      }
      &:hover
      {
        text-decoration: underline;
      }
    }
    .cg-li_section_form_active
    {
      font-weight: 600;
      color: $red;
    }
  }
}

.cg-select_wrapper
{
  display: block;
  width: 10rem;
  height: 2.4rem;
  position: relative;
  background-color: $white;
  border-radius: 0.25rem;
  border: 1px solid $gray;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  overflow: hidden;
  figure 
  {
    position: absolute;
    right: 0;
    top: -1px;
    width: 2.7rem;
    height: 2.4rem;
    cursor: pointer;
    background: url(../img/icons/select.svg);
    background:
    {
      size: auto 2.2rem;
      position: center;
      repeat: no-repeat;
    }
    border-radius: 0rem 0.25rem 0.25rem 0rem;
  }
  select 
  {
    width: 10rem;
    height: 2.4rem;
    background-color: transparent;
    border: none;
    border-radius: 0.25rem;
    padding: 0rem 0.5rem 0rem 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    appearance: none;
    font: 
    {
      size: 0.7rem;
      weight: 300;
      family: 'Titillium Web', sans-serif;
    }
    color: darken($gray, 30%);
  }
}


.cg-human_figure
{
  width: 15rem;
  height: 3.75rem;
  background-color: $gray;
  margin: 0 auto;
}

.cg-wrapper_form_sections
{
  display: block;
  width: 150vw;
  height: auto;
  position: relative;
  margin-left: 0%;
  @include flex;
  align-items: flex-start;
  @media #{$sm}
  {
    width: 255vw;
    height: auto;
  }
  .cg-form_section_a,  .cg-form_section_b,  .cg-form_section_c
  {
    display: inline-block;
    width: 50vw;
    height: auto;
    @media #{$sm}
    {
      width: 85vw;
    }
  }
}

.cg-wrapper_conditions
{
  display: block;
  margin: 0 auto;
  position: relative;
  background-color: $black;
  width: 90%;
  height: 10rem;
  overflow-y: scroll;
  color: $white;
  font-size: 0.5rem;
  font-weight: 300;
  text-align: left;
  padding: 1rem;
  margin-bottom: 1rem;
  .cg-number_condition 
  {
    display: block;
    margin-left: 1rem;
    margin-top: 0.5rem;
  }
  .cg-letter_condition 
  {
    display: block;
    margin-left: 1.25rem;
    margin-top: 0.5rem; 
  }
  .cg-roman_condition 
  {
    display: block;
    margin-left: 1.5rem;
    margin-top: 0.5rem; 
  }
}

.cg-form_icon_dialog
{
  display: block;
  margin: 0 auto;
  position: relative;
  text-align: center;
  i
  {
    background-color: $red;
    border-radius: 0.25rem;
    height: 2.4rem;
    width: 2.4rem;
    line-height: 2.4rem;
    vertical-align: middle;
    font-size: 1.05rem;
    text-align: center;
    color: $white;
  }
}

.cg-form_big_txt
{
  font: 
  {
    size: 0.7rem;
    weight: 400;
  }
}

.cg-form_p
{
  margin-top: 0.5rem;
  font: 
  {
    size: 0.5rem;
    weight: 300;
    style: italic;
  }
}

.cg-success_register
{
  #cg-popup, .cg-flex_pop
  {
    height: 14rem;
  }
}

.cg-login
{
  #cg-popup, .cg-flex_pop
  {
    height: 17.5rem;
    @media #{$sm}
    {
      height: 80vh;
    }
  }
}

.cg-register
{
  #cg-popup, .cg-flex_pop
  {
    height: 29.5rem;
    @media #{$sm}
    {
      height: 90vh;
    }
    span.cg-human
    {
      @media #{$sm}
      {
        display: inline-block;
        line-height: 1rem;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
      }
    }
  }
}

/* MAIN SECTIONS */

/* SECTION WELCOME */

section.cg-welcome
{
  width: 100%;
  height: 100vh;
  background-color: $purple;
  display: block;
  position: relative;
}

.cg-wrapper_welcome
{
  width: 100%;
  height: 100vh;
  display: block;
  position: relative;
  background: rgba(72,48,120,1);
  background: -moz-linear-gradient(top, rgba(72,48,120,1) 0%, rgba(0,0,0,0.35) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(72,48,120,1)), color-stop(100%, rgba(0,0,0,0.35)));
  background: -webkit-linear-gradient(top, rgba(72,48,120,1) 0%, rgba(0,0,0,0.35) 100%);
  background: -o-linear-gradient(top, rgba(72,48,120,1) 0%, rgba(0,0,0,0.35) 100%);
  background: -ms-linear-gradient(top, rgba(72,48,120,1) 0%, rgba(0,0,0,0.35) 100%);
  background: linear-gradient(to bottom, rgba(72,48,120,1) 0%, rgba(0,0,0,0.35) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#483078', endColorstr='#000000', GradientType=0 );
}

.cg-bg_welcome
{
  width: 100%;
  height: 100vh;
  @include flex;
  position: absolute;
  top: 0;
  left: 0;
  background:
  {
    image: url(../img/bg_square.svg);
    size: auto;
    repeat: repeat;
    position: center;
  }
  flex-direction: column;
  padding: 1rem;
  display: none;
  .cg-h1_welcome
  {
    color: #FFD900;
    font:
    {
      size: 1.05rem;
      weight: 400;
    }
    text: 
    {
      align: center;
      transform: uppercase;
    }
    letter-spacing: 2px;
    margin-top: 1.5rem;
    @media #{$sm}
    {
      font-size: 0.8rem;
    }
  }
  .cg-p_welcome
  {
    margin-top: 0.5rem;
    color: $white;
    font:
    {
      size: 0.85rem;
      weight: 300;
      style: italic;
    }
    text: 
    {
      align: center;
    }
    @media #{$sm}
    {
      font-size: 0.7rem;
      margin-top: 1rem;
    }
  }
  i 
  {
    color: $white;
    font-size: 1.5rem;
    position: absolute;
    bottom: 6rem;
  }
}

.cg-welcome_logo_tbk
{
  width: 70vw;
  height: auto;
  text-align: center;
  img 
  {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  @media #{$sm}
  {
    width: 85vw;
  }
}

section.cg-section_tools
{
  width: 100%;
  height: auto;
  background-color: $white;
  display: block;
  position: relative;
  padding: 0rem 1rem 3rem 1rem;
  background: 
  {
    image: url(../img/tubes_bg.svg);
    size: auto 70%;
    position: center;
    repeat: no-repeat;
  }
  @media #{$sm}
  {
    background:
    {
      image: url(../img/tubes_bg_2.svg);
    }
  }
}

#cg-webpoint_tools
{
  position: absolute;
  background-color: transparent;
  width: 2rem;
  height: 2rem;
  bottom: 3.4rem;
  left: 0;
}

#cg-webpoint_video
{
  position: absolute;
  width: 2rem;
  height: 2rem;
  bottom: 3.4rem;
  left: 0;
}

#cg-webpoint_discover
{
  position: absolute;
  width: 2rem;
  height: 2rem;
  bottom: 3.1rem;
  left: 0;
}

.cg-section_h2
{
  display: block;
  font:
  {
    size: 2.4rem;
    weight: 600;
  }
  color: $black;
  text:
  {
    align: center;
  }
  margin-top: 4rem;
}

.cg-section_p
{
  color: $black;
  display: block;
  font:
  {
    size: 0.9rem;
    weight: 400;
  }
  color: $black;
  text:
  {
    align: center;
  }
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.cg-tools-animation
{
  opacity: 0;
}

.cg-tools-animation_2
{
  visibility: hidden;
}

.cg-flex_tools
{
  @include flex;
  &:first-of-type
  {
    margin-bottom: 1rem;
  }
  @media #{$sm}
  {
    flex-direction: column;
  }
}

.cg-article_tools
{
  width: 10rem;
  height: 14rem;
  background-color: transparent;
  position: relative;
  &:hover
  {
    .cg-card_article
    {
      transform: rotateY( 180deg );
    }
  }
  &:first-of-type
  {
    margin-right: 0.5rem;
    @media #{$sm}
    {
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }
  &:last-of-type
  {
    margin-left: 0.5rem;
    margin-bottom: -4rem;
    @media #{$sm}
    {
      margin-left: 0;
      margin-bottom: 0rem;
    }
  }
}

.cg-card_article
{
  width: 10rem;
  height: 14rem;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1.5s;
  border-radius: 0.5rem;
  cursor: pointer;
}

.cg-article_tools_front
{
  display: block;
  width: 10rem;
  height: 14rem;
  position: absolute;
  backface-visibility: hidden;
  background-color: $white;
  img 
  {
    width: 8rem;
    height: 8rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
  .cg-article_tools_h3
  {
    position: absolute;
    display: block;
    width: 10rem;
    bottom: 2rem;
    left: 0rem;
    font: 
    {
      size: 1.2rem;
      weight: 600;
    }
    padding: 0rem 1rem 0rem 1rem;
    text:
    {
      align: center;
      transform: uppercase;
    }
  }
}

.cg-art_tools_front_1
{
  border: 1px solid $red;
  .cg-article_tools_h3
  {
    color: $red;
  }
  border-radius: 0.5rem 0.5rem 0rem 0.5rem;
  @media #{$sm}
  {
    border-radius: 0.5rem;
  }
}

.cg-art_tools_front_2
{
  border: 1px solid $gray;
  .cg-article_tools_h3
  {
    color: $soft_black;
  }
  border-radius: 0.5rem 0.5rem 0.5rem 0rem;
  @media #{$sm}
  {
    border-radius: 0.5rem;
  }
}

.cg-art_tools_front_3
{
  border: 1px solid $black;
  .cg-article_tools_h3
  {
    color: $black;
  }
  border-radius: 0.5rem 0rem 0.5rem 0.5rem;
  @media #{$sm}
  {
    border-radius: 0.5rem;
  }
}

.cg-art_tools_front_4
{

  border: 1px solid $purple;
  .cg-article_tools_h3
  {
    color: $purple;
  }
  border-radius: 0rem 0.5rem 0.5rem 0.5rem;
  @media #{$sm}
  {
    border-radius: 0.5rem;
  }
}

.cg-article_tools_back
{
  display: block;
  width: 10rem;
  height: 14rem;
  color: $white;
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY( 180deg );
  .cg-article_tools_header
  {
    width: 10rem;
    height: 6rem;
    position: absolute;
    top: 0;
    left: -1px;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
  }
  .cg-article_tools_h3
  {
    color: $white;
    position: absolute;
    display: block;
    width: 10rem;
    top: 2rem;
    left: 0rem;
    font: 
    {
      size: 1.2rem;
      weight: 600;
    }
    padding: 0rem 1rem 0rem 1rem;
    text:
    {
      align: center;
      transform: uppercase;
    }
  }
}

.cg-art_tools_back_1
{
  background-color: $white;
  border: 1px solid $red;
  .cg-article_tools_header
  {
    background:
    {
      image: url(../img/header_article_1.svg);
      size: 100% auto;
      position: top;
      repeat: no-repeat;
    }
    border-radius: 0.5rem 0.5rem 0rem 0.5rem;
    @media #{$sm}
    {
      border-radius: 0.5rem;
    }
  }
  border-radius: 0.5rem 0.5rem 0rem 0.5rem;
  @media #{$sm}
  {
    border-radius: 0.5rem;
  }
}

.cg-art_tools_back_2
{
  background-color: $white;
  border: 1px solid $gray;
  .cg-article_tools_header
  {
    background:
    {
      image: url(../img/header_article_2.svg);
      size: 100% auto;
      position: top;
      repeat: no-repeat;
    }
    border-radius: 0.5rem 0.5rem 0.5rem 0rem;
    @media #{$sm}
    {
      border-radius: 0.5rem;
    }
  }
  .cg-article_tools_h3
  {
    color: $soft_black;
  }
  border-radius: 0.5rem 0.5rem 0.5rem 0rem;
  @media #{$sm}
  {
    border-radius: 0.5rem;
  }
}

.cg-art_tools_back_3
{
  background-color: $white;
  border: 1px solid $black;
  .cg-article_tools_header
  {
    background:
    {
      image: url(../img/header_article_3.svg);
      size: 100% auto;
      position: top;
      repeat: no-repeat;
    }
    border-radius: 0.5rem 0rem 0.5rem 0.5rem;
    @media #{$sm}
    {
      border-radius: 0.5rem;
    }
  }
  border-radius: 0.5rem 0rem 0.5rem 0.5rem;
  @media #{$sm}
  {
    border-radius: 0.5rem;
  }
}

.cg-art_tools_back_4
{
  background-color: $white;
  border: 1px solid $purple;
  .cg-article_tools_header
  {
    background:
    {
      image: url(../img/header_article_4.svg);
      size: 100% auto;
      position: top;
      repeat: no-repeat;
    }
    border-radius: 0rem 0.5rem 0.5rem 0.5rem;
    @media #{$sm}
    {
      border-radius: 0.5rem;
    }
  }
  border-radius: 0rem 0.5rem 0.5rem 0.5rem;
  @media #{$sm}
  {
    border-radius: 0.5rem;
  }
}

.cg-wrapper_buttons_tools
{
  width: 8rem;
  height: 4.1rem;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  button
  {
    &:first-of-type
    {
      margin-bottom: 0.5rem;
    }
  }
}

.cg-button_tool
{
  width: 8rem;
  height: 1.8rem;
  border-radius: 0.25rem;
  cursor: pointer;
  @include animate;
  color: $white;
  &:hover
  {
    background-color: $white;
  }
  &:first-of-type
  {
    position: absolute;
    top: 0;
    left: 0;
  }
  &:last-of-type
  {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.cg-wrap_btn_tools_1
{
  button
  {
    background-color: $red;
    border: 1px solid $red;
    &:hover
    {
      color: $red;
    }
  }
}
.cg-wrap_btn_tools_2
{
  button
  {
    background-color: $gray;
    border: 1px solid $gray;
    color: $soft_black;
    &:hover
    {
      color: $soft_black;
    }
  }
}
.cg-wrap_btn_tools_3
{
  button
  {
    background-color: $black;
    border: 1px solid $black;
    &:hover
    {
      color: $black;
    }
  }
}
.cg-wrap_btn_tools_4
{
  button
  {
    background-color: $purple;
    border: 1px solid $purple;
    &:hover
    {
      color: $purple;
    }
  }
}

.wrapper_flex_tools
{
  display: block;
  position: relative; 
  margin: 0 auto;
  width: auto;
  height: auto;
  padding: 1rem 0rem 1rem 0rem;
  background: 
  {
    image: url(../img/tubes_central.svg);
    size: auto 100%;
    position: center;
    repeat: no-repeat;
  }
  visibility: hidden;
  @media #{$sm}
  {
    background-image: none;
  }
}

.cg-tools_square
{
  @include flex;
  display: none;
  position: absolute;
  bottom: -1rem;
  left: 0rem;
  width: 100%;
  height: 1rem;
  figure 
  {
    display: block;
    width: 0.5rem;
    height: 1rem;
  }
  @media #{$sm}
  {
    display: flex;
  }
}

.cg-article_tools_1
{
  .cg-tools_square
  {
    figure 
    {
      background-color: $red;
    }
  }
}

.cg-article_tools_2
{
  .cg-tools_square
  {
    figure 
    {
      background-color: $soft_black;
    }
  }
}

.cg-article_tools_3
{
  .cg-tools_square
  {
    figure 
    {
      background-color: $purple;
    }
  }
}

/* VIDEO */

section.cg-videos
{
  width: 100%;
  height: 100vh;
  background-color: $white;
  display: block;
  position: relative;
  .my-slider
  {
    padding-top: 8rem;
    height: 100vh;
    position: relative;
    @media #{$sm}
    {
      padding-top: 10rem;
    }
    .cg-section_videos_h2
    {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 4.5rem;
      visibility: hidden;
      @include flex;
      display: block;
      font:
      {
        size: 2.4rem;
        weight: 600;
      }
      color: $black;
      text:
      {
        align: center;
      }
      padding-top: 4rem;
      @media #{$sm}
      {
        padding-top: 3rem;
        height: 8rem;
      }
    }
  }
  .cg-slider_video_ul
  {
    height: 100%;
    visibility: hidden;
    .cg-slider_video_li
    {
      height: 100%;
      z-index: 8;
      position: relative;
      overflow: hidden;
      &:before
      {
        content: "";
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background:
        {
          image: url(../img/grid_texture.svg);
          size: 200px;
          position: center;
          repeat: repeat;
        }
      }
    }
  }
}

aside.cg-slider_video_aside
{
  display: block;
  position: absolute;
  top: 4rem;
  left: 0rem;
  background-color: $purple;
  padding: 0.25rem 1rem 0.25rem 1rem;
  color: $white;
  visibility: hidden;
  font:
  {
    size: 1.2rem;
    weight: 400;
  }
  text-align: left;
  z-index: 10;
  @media #{$sm}
  {
    width: 80vw;
    height: auto;
    left: 10vw;
    top: 0;
    text-align: center;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  }
  h4.cg-slider_video_h4
  {
    display: block;
    @media #{$sm}
    {
      text-align: center;
      margin:  0 auto;
      position: relative;
    }
  }
  img 
  {
    display: block;
    width: 15rem;
    height: auto;
    margin-top: 0.25rem;
    @media #{$sm}
    {
      width: 80%;
      display: inline-block;
    }
  }
}

.cg-flex_btn_video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 9;
  @include flex;
  .icon-youtube
  {
    background-color: $white;
    line-height: 2.5rem;
    margin-right: -1px;
    border-radius: 0.5rem;
    overflow: hidden;
    cursor: pointer;
    font-size: 3.5rem;
    color: $red;
    @include animate;
    &:hover
    {
      background-color: $red;
      color: $white;
    }
  }
}

/* SECTION DISCOVER */
section.cg-section_discover
{
  width: 100%;
  background-color: $white;
  display: block;
  position: relative;
  padding: 0rem 1rem 3rem 1rem;
  background: 
  {
    image: url(../img/bg_lines.svg);
    size: cover;
    position: bottom;
    repeat: no-repeat;
  }
}

.cg-flex_discover
{
  @include flex;
  justify-content: space-around;
  margin-top: 2rem;
  align-items: stretch;
  @media #{$sm}
  {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.cg-article_discover
{
  display: block;
  width: 12rem;
  height: auto;
  cursor: pointer;
  border-radius: 0.5rem;
  position: relative;
  @include animate;
  @media #{$sm}
  {
    margin-bottom: 1rem;
    &:last-of-type
    {
      margin-bottom: 0rem;
    }
  }
  .cg-article_discover_part_a
  {
    display: block;
    width: 12rem;
    border: 1px solid $gray;
    background-color: $white;
    border-radius: 0.5rem;
    height: auto;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 2rem;
    img 
    {
      width: 5rem;
      position: relative;
      display: block;
      height: auto;
      margin: 0 auto;
    }
    .cg-article_discover_h3
    {
      margin-top: 1rem;
      display: block;
      color: $soft_black;
      position: relative;
      display: block;
      font: 
      {
        size: 1.2rem;
        weight: 600;
      }
      text:
      {
        align: center;
        transform: uppercase;
      }
    }
  }
  .cg-article_discover_part_b
  {
    border-radius: 0.25rem;
    display: block;
    height: auto;
    position: relative;
    border: 1px solid $gray;
    background-color: $white;
    visibility: hidden;
    .cg-article_discover_header
    {
      display: block;
      height: 6rem;
      border-radius: 0.25rem 0.25rem 0rem 0rem;
      background:
      {
        image: url(../img/header_article_4.svg);
        size: 100% auto;
        position: bottom;
      }
      .cg-article_discover_h3
      {
        margin-top: 1rem;
        display: block;
        color: $white;
        position: absolute;
        top: 1rem;
        width: 12rem;
        padding: 0rem 1rem 0rem 1rem;
        display: block;
        font: 
        {
          size: 1.2rem;
          weight: 600;
        }
        text:
        {
          align: center;
          transform: uppercase;
        }
      }
    }
    .article_discover_p
    {
      display: block;
      padding: 2rem 1rem 1rem 1rem;
      font: 
      {
        size: 0.8rem;
        weight: 300;
      }
      color: $soft_black;
      text:
      {
        align: center;
      }
    }
  }
  &:hover
  {
    .cg-article_discover_part_a
    {
      visibility: hidden!important;
    }
    .cg-article_discover_part_b
    {
      visibility: visible;
    }
  }
}

.cg-discover-animation
{
  visibility: hidden;
}

/* FOOTER */
section.cg-footer
{
  width: 100%;
  background-color: $red;
  display: block;
  position: relative;
  padding: 1rem;
}

.cg-flex_footer
{
  @include flex;
  justify-content: space-between;
  @media #{$sm}
  {
    flex-direction: column;
    justify-content: center;
  }
}

.cg-article_footer
{
  display: block;
  &:first-of-type
  {
    margin-right: 0.5rem;
  }
  &:last-of-type
  {
    margin-left: 0.5rem;
  }
  @media #{$sm}
  {
    &:first-of-type
    {
      margin-right: 0;
      margin-bottom: 1rem;
    }
    &:last-of-type
    {
      margin-left: 0;
    }
  }
}

.cg-tbk_logo_footer 
{
  display: block;
  width: 12.5rem;
  height: auto;
  text-align: left;
  margin-bottom: 0.25rem;
  @media #{$sm}
  {
    text-align: center;
  }
}

.cg-transbank_logo_footer
{
  display: inline-block;
  width: 5rem;
  height: auto;
  margin-left: 0.25rem;
  cursor: pointer;
  @media #{$sm}
  {
    display: block;
    text-align: center;
    margin-left: 0rem;
    margin: 0 auto;
    margin-top: 0.25rem;
  }
}

.cg-tbk_footer_span
{
  color: $white;
  font:
  {
    size: 0.6rem;
    weight: 300;
  }
  @media #{$sm}
  {
    display: block;
    text-align: center;
    margin-top: 1rem;
  }
}

a.cg-tbk_footer_link
{
  display: block;
  color: $white;
  font:
  {
    size: 0.7rem;
    weight: 600;
  }
  cursor: position;
  margin-top: 0.5rem;
  @media #{$sm}
  {
    text-align: center;
    margin-top: 1rem;
  }
  &:hover
  {
    text-decoration: underline;
  }
}

span.cg-tbk_footer_span_2
{
  color: $white;
  font:
  {
    size: 0.6rem;
    weight: 300;
  }
  text-align: right;
  display: block;
  @media #{$sm}
  {
    display: block;
    text-align: center;
    margin-top: 1rem;
  }
}


figure.wrapper_cg-tbk_logo2_footer
{
  display: block;
  text-align: right;
}

img.cg-tbk_logo2_footer
{
  width: 6rem;
  height: auto;
  cursor: pointer;
  @media #{$sm}
  {
    display: block;
    margin: 0 auto;
    margin-top: 0.25rem;
  }
}

a.cg-tbk_footer_link_2
{
  display: block;
  color: $white;
  font:
  {
    size: 0.7rem;
    weight: 600;
  }
  cursor: position;
  margin-top: 0.5rem;
  text-align: right;
  @media #{$sm}
  {
    text-align: center;
    margin-top: 1rem;
  }
  &:hover
  {
    text-decoration: underline;
  }
}

/* DIFFERENT BUTTON LOGIN */ 
.cg_button_different
{
  figure
  {
    background-color: $red;
    .chevron_right
    {
      border-left: 5px solid $red;
    }
  }
  span 
  {
    color: $red;
  }
  &:hover 
  {
    figure 
    {
      color: $red;
      .chevron_right
      {
        border-left: 5px solid $white;
      }
    }
    span 
    {
      background-color: $red;
    }
  }
}

/* HEADER START */
.cg-seccion_header
{
  display: block;
  width: 100vw;
  height: 400px;
  position: relative;
  overflow: hidden;
  text-align: center;
  @media #{$xs}
  {
    overflow: visible;
    height: auto;
  }
  &:after
  {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 0;
    width: 100%;
    height: 400px;
    background: rgba(255,255,255,0);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(129,125,135,0) 61%, rgba(48,42,58,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(61%, rgba(129,125,135,0)), color-stop(100%, rgba(48,42,58,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(129,125,135,0) 61%, rgba(48,42,58,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(129,125,135,0) 61%, rgba(48,42,58,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(129,125,135,0) 61%, rgba(48,42,58,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(129,125,135,0) 61%, rgba(48,42,58,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#302a3a', GradientType=0 );
  }
  .cg-img_header
  {
    text-align: center;
    position: relative;
    overflow: hidden;
    @media #{$xs}
    {
      overflow: visible;
      height: auto;
    }
    img 
    {
      width: 100%;
      height: auto;
      text-align: center;
      position: relative;
    }
  }
}

.cg-titles
{
  h1 
  {
    width: 15rem;
    display: inline-block;
    position: relative;
    background-color: rgba($gray, 0.75);
    padding: 1rem;
    font:
    {
      size: 1.6rem;
      weight: 700;
    }
    color: $black;
    text-align: left;
    z-index: 1;
    margin-left: 8rem;
    margin-top: -4rem;
    @media #{$sm}
    {
      display: block;
      margin: 0 auto;
      margin-top: -4rem;
      width: 80vw;
      text-align: center;
    }
  }
  .cg-description
  {
    display: block;
    position: relative;
    color: $red;
    font:
    {
      size: 1.2rem;
      weight:600;
    }
    float: right;
    margin-right: 8rem;
    margin-top: 1rem;
    @media #{$sm}
    {
      float: inherit;
      margin: 0 auto;
      margin-top: 0.5rem;
      margin-bottom: 2rem;
      padding: 0rem 1rem 0rem 1rem;
      text-align: center;
    }
  }
}

/* HEADER END */

// VIEW SPACE
.cg-views
{
  background-color: darken($gray, 5%);
  display: block;
  position: relative;
  margin: 0 auto;
  margin-top: -1rem;
  @media #{$sm}
  {
    margin-top: 0rem;
  }
  .cg-view_wrapper
  {
    background-color: $white;
    padding-top: 4rem;
    padding-bottom: 2rem;
    @media #{$sm}
    {
      padding-top: 0rem;
    }
    p 
    {
      text-align: justify;
      color: $black;
      font:
      {
        size: 0.9rem;
        weight: 400;
      }
    }
  }
}









