doctype html
html lang="es" 
  head
    meta charset="utf-8"
    title Transbank
    meta name="description" content="Apoyando el desarrollo del e-commerce nacional"/
    meta name="keywords" content="transbank, transbank developers, developers, desarrollador, implementacion transbank"/
    meta name="author" content="Cumbregroup"/
    meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/
    /! BOOTSTRAP
    link rel="stylesheet" href="css/bootstrap.css"
    /! ELEN MEYER RESET
    link rel="stylesheet" href="css/reset.css"
    /! CUSTOM STYLES
    link rel="stylesheet" href="css/styles.css"
    /! FAVICON
    link rel="apple-touch-icon-precomposed" sizes="57x57" href="img/favicon/apple-touch-icon-57x57.png"
    link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png"
    link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png"
    link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/favicon/apple-touch-icon-144x144.png"
    link rel="apple-touch-icon-precomposed" sizes="60x60" href="img/favicon/apple-touch-icon-60x60.png"
    link rel="apple-touch-icon-precomposed" sizes="120x120" href="img/favicon/apple-touch-icon-120x120.png"
    link rel="apple-touch-icon-precomposed" sizes="76x76" href="img/favicon/apple-touch-icon-76x76.png"
    link rel="apple-touch-icon-precomposed" sizes="152x152" href="img/favicon/apple-touch-icon-152x152.png"
    link rel="icon" type="image/png" href="img/favicon/favicon-196x196.png" sizes="196x196"
    link rel="icon" type="image/png" href="img/favicon/favicon-96x96.png" sizes="96x96"
    link rel="icon" type="image/png" href="img/favicon/favicon-32x32.png" sizes="32x32"
    link rel="icon" type="image/png" href="img/favicon/favicon-16x16.png" sizes="16x16"
    link rel="icon" type="image/png" href="img/favicon/favicon-128.png" sizes="128x128"
    meta name="application-name" content="&nbsp;"
    meta name="msapplication-TileColor" content="#FFFFFF"
    meta name="msapplication-TileImage" content="img/favicon/mstile-144x144.png"
    meta name="msapplication-square70x70logo" content="img/favicon/mstile-70x70.png"
    meta name="msapplication-square150x150logo" content="img/favicon/mstile-150x150.png"
    meta name="msapplication-wide310x150logo" content="img/favicon/mstile-310x150.png"
    meta name="msapplication-square310x310logo" content="img/favicon/mstile-310x310.png"
    /! JQUERY
    script src="js/jquery-3.1.1-min.js"
    /! FONTAWESOME
    script src="https://use.fontawesome.com/10eea058a9.js"
    /! CUSTOM SCRIPTS
    script src="js/scripts.js"
    /! PICTURE FILL
    script src="js/picturefill.min.js"
  body
    navbar.cg-navbar_main
      .flex
        figure.cg-logo_tbk
          img src="img/tbk_logo.svg"
        ul.cg-menu_ul
          li.cg-main_li.hidden-md.hidden-lg.cg-menu_ul_close
            i.fa.fa-times aria-hidden="true"
          li.cg-main_li.cg-main_li_active.cg-main_li_tool
            a 
              | Herramientas
              i.fa.fa-caret-down aria-hidden="true"
            .cg-menu_tool
              span.cg-span_tool Plugins
              a.cg-tool_li href="#" Webpay Plus
              a.cg-tool_li href="#" Onepay
              span.cg-span_tool SDK's
              a.cg-tool_li href="#" Webpay Plus
              a.cg-tool_li href="#" Onepay
              span.cg-span_tool Api Docs
              a.cg-tool_li href="#" Webpay Plus
              a.cg-tool_li href="#" Onepay
          li.cg-main_li.cg-main_li_out
            a href="#" Integradores
          li.cg-main_li.cg-main_li_out
            a href="#" MOOC
          li.cg-main_li.cg-main_li_out
            a href="#" Contacto
          li.cg-main_li.cg-main_li_out
            a href="#" F.A.Q.
          a.cg-button_a.cg-log_off
            figure
              i.fa.fa-sign-in aria-hidden="true"
            span Ingresar
      button.cg-nav_mobile.hidden-md.hidden-lg
        i.fa.fa-bars aria-hidden="true"



        









